#row1{
    border: 2px solid white;
    height: 50px;
    width: 50px;
    margin-top: 15%;
    margin-left: 48%;
    text-align: center;
    border-radius: 50%;
}

#fluid1{
    border: 0.2px solid white;
    height: 530px;
    background-image: url("./images/h_img.jpg");
    background-size: cover;
}
.p1{
    padding-top: 25%;
    font-size: 25px;
    color: white;
}
#row2{
    text-align: center;
}
h2{
    line-height: 2;
    color: white;
}
.p2{
    color: white;
    font-size: 13px;
}
#fluid3{
    margin-top: 4%;
    height: 280px;
    overflow: auto;
}
h3{
    text-align: center;
}
.p3{
    text-align: center;
    line-height: 2;
}
#fluid2{
    border: 0.5px solid white;
    height: 330px;
    background-image: url("./images/s_image.jpg");
}
#row4{
    height: 150px;
    margin-top: 9%;
}
#p4{
    text-align: center;
    line-height: 2;
    color: white;
}
.services{
    color: white;
}
#row5{
    height: 350px;
    margin-top: 3.5%;
    overflow: auto;
}